.contentChat{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 3%;
	right: 3%;
	padding-left: 3%;
	padding-right:3%;
}
.col-md-4,.col-md-8{
	height: 100% !important;
}



.col-md-41{
	background: #262f3d;
}

body{
	background: #19212b;
}

.col-md-81{
	background: #eceff1;
}


.id{
	width: 100%;
	border: 0pc solid black;
	outline-color: transparent;
	padding: 10px 10px;
	color: white;
	background: #19212b;
	margin-top: 10px;
	margin-bottom: 20px;
}


.buttonEntrar{
	margin-top: 10px;
	width: 100%;
	padding: 10px 10px;
	background: #19212b;
	color: white;
	border:0px solid white;
	outline-color: transparent;
margin-bottom: 20px;
}
.viewMessage{
	background: #19212b;
	height: 100px;
	width: 95%;
	margin: 0 auto;
	color: #848991;
	cursor:pointer;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}
.viewMessage:hover{
	background: #242c3a;
}


.selectedItem{
	color:white;
}


.perfil{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-top: 20px;
	border-radius:50% 50%;
}

.viewContact{
	width: 100%;
}
.contacDat{
	float: right;
	width: 70%;
}



.rigthDat{
	float: right;
	text-align: center;
	margin-right: 10px;
}
.nameContact{
	width: 100px;
	float: left;
}
.message{
	float:right;
	width: 70%;
	margin-top: -30px;
}





/*nuevo codigo*/
.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:32px;
    display:flex;
    flex-direction: column;

}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}   


	/*mi code*/



.send{
	position: absolute;
	width: 96%;
	bottom: 10px;
	margin:0 auto;
}
.enviarCaja{
	width: 100%;
	border:0px;
	padding: 10px 10px;
	background: white;
	border-radius: 10px 10px;
	font-size: 20px;
	color: gray;
}


/*codigo del 28-12-17*/
.options{
	height: 70px;
	margin-left: 15px;
	margin-right: 15px;
}

.optionButton{
	padding: 7px;
	cursor: pointer;
	height: 35px;
	margin-bottom: 20px;
}
.optionButton:hover{
	background: #19212b;
	border-bottom: 1px solid white;
}
.countMessagge{
	color: white;
	width: 15px;
	height: 15px;
	background: #19212b;
	border-radius: 50% 50%;
	font-size: 10px;
}
.selected{
	background: #19212b;
	border-bottom: 1px solid white;
}

.info{
	margin-left:15px;
	float: right;
	color:#848991;
	font-size: 10px;
	top: 0px;
}
.hide{
	display: none;
}
.show{
	display: block;
}